@import 'variables.less';
.content{
    display: flex;
    flex-direction: column;
    align-items: center;

    .component{
        margin-top: 3rem;
        padding-bottom: 4rem;
        width: 40%;
        border-radius: .5rem;
        box-shadow: 0 0 2rem -1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        .imgContainer{
            width: 50%;
            padding-bottom: 2rem;
            display: flex;
            justify-content: center;
            padding-top: 3rem;


            img{
                object-fit:contain;
                border: 5px solid @primary;
                border-radius: 100%;
            }
        }
        .componentGlobal{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .error{
                margin-top: 10px;
                color: red;
                font-family: 'Inter';
            }
        }
        h1{
            color: @primary;
            font-size:1.5rem;
            margin-bottom: 30px;
        }
        h2{
            color: @darkGray;
            font-size:1.5rem;
            margin-bottom: 10px;
        }
        .contentStars{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 335px;
            height: 100px;

            .stars{
                width: 60px;
                font-size: 30px;
            }
        }
        .contentInput{
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h3{
                color: @primary;
                font-size:1.7rem;
                margin-bottom: 1rem;
            }
            textarea{
                max-height: 80px;
                min-height: 40px;
                min-width: 335px;
                max-width: 350px;
                text-indent: 1rem;
                border: none;
                border-radius: .5rem;
                outline: none;
                font-family: 'Inter';
                color: @gray;
                padding-top: 1rem;
                margin-bottom: 1rem;
            }
        }
        button{
            margin-top: 10px;
            width: 8rem;
            height: 2rem;
            background-color: @primary;
            border: none;
            border-radius: .5rem;
            color: @white;
            cursor: pointer;
            &:hover{
                background-color: @secondary;
                color: @primary;
            }
        }
    }
    .back{
        margin-top: 2rem;
        margin-bottom: 3rem;
        height: 2rem;
        border: none;
        color: @primary;
        font-size: 1rem;
        background-color: rgba(255, 255, 255, 0);
        cursor: pointer;
        &:hover{
            border-bottom: 3px solid @secondary;
            color: @primary;
        }   

    }
}
.imagenFundacion{
    max-width: 400px;
    max-height: 300px;
}