.cards {
  width: 273px;
  height: 367.18px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  overflow: hidden;
  justify-content: center;
}
.cards .cardsImg {
  width: 273px;
  height: 255.38px;
  background-position: center;
}
.cards .textContainer {
  width: 227px;
  height: 96px;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cards .textContainer p:first-child {
  margin-left: 10px;
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  line-height: 27px;
  color: #454B54;
}
.cards .textContainer p {
  margin-left: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  font-style: italic;
  color: #727A85;
}
