.content {
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .content h1 {
    color: #504F6F;
    margin: 20px 0 0 -500px;
  }
  .content .datos {
    margin-top: 20px;
    padding-top: 15px;
    width: 50%;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    border-top: 2px solid #504F6F;
    border-left: 2px solid #504F6F;
    border-right: 2px solid #504F6F;
    border-radius: 15px 15px 0 0;
  }
  .content .datos .link {
    text-decoration: none;
  }
  .content .datos h3 {
    margin-top: 5px;
    font-weight: 500;
  }
  .content .datos .selected {
    color: #454B54;
    background-color: #FAC942;
    padding: 0 20px;
    border-radius: 15px 15px 0 0;
  }
  .content .datos .nonSelected {
    color: #454B54;
    text-decoration: none;
  }
  .content .infoContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 380px;
    border: 2px solid #504F6F;
    border-radius: 0 0 15px 15px;
  }
  .content .infoContainer h2 {
    color: #727A85;
    padding-left: 60px;
    padding-top: 20px;
  }
  .content .infoContainer .inputContainer {
    gap: 1px;
    margin: 12px;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    justify-content: center;
    align-items: center;
    border: 2px solid #504F6F;
    border-radius: 15px;
    padding-bottom: 10px;
  }
  .content .infoContainer .inputContainer .link {
    text-decoration: none;
  }
  .content .infoContainer .inputContainer .detailsOptionsColors {
    margin-bottom: 1px;
    display: flex;
    width: 600px;
    justify-content: space-around;
    align-items: center;
    background-color: #66668F;
    border-radius: 5px;
  }
  .content .infoContainer .inputContainer .detailsOptionsColors .p {
    color: #FAC942;
    width: 80px;
  }
  .content .infoContainer .inputContainer .detailsOptionsColors .detailImg {
    width: 40px;
    height: 40px;
  }
  .content .infoContainer .inputContainer .detailsOptionsColors .detailImg img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 100%;
  }
  .content .infoContainer .inputContainer .detailsOptions {
    margin-bottom: 1px;
    display: flex;
    width: 600px;
    justify-content: space-around;
    align-items: center;
  }
  .content .infoContainer .inputContainer .detailsOptions .p {
    width: 80px;
  }
  .content .infoContainer .inputContainer .detailsOptions .detailImg {
    width: 40px;
    height: 40px;
  }
  .content .infoContainer .inputContainer .detailsOptions .detailImg img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 100%;
  }
  .content .infoContainer .inputContainer .detailsOptions1 {
    padding-bottom: 4px;
    display: flex;
    width: 600px;
    justify-content: space-around;
    margin-bottom: 10px;
    border-bottom: 2px solid #504F6F;
  }
  .content .infoContainer .inputContainer .detailsOptions1 .p {
    width: 80px;
  }
  .content .infoContainer .inputContainer .detailsOptions1 .img {
    width: 40px;
  }
  