.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}
.content h1 {
  color: #504F6F;
  margin: 3rem 0 2rem 0;
}
.content .dash {
  width: 90%;
  box-shadow: 0px 13px 26px 1px rgba(0, 0, 0, 0.85);
  margin-bottom: 4rem;
  border-radius: 0.5rem;
}
.content .dash .datos {
  margin-top: 5px;
  padding-top: 15px;
  margin: 0 5rem 0 5rem;
  height: 30px;
  display: flex;
  justify-content: flex-start;
}
.content .dash .datos .link {
  text-decoration: none;
  color: #727A85;
}
.content .dash .datos h3 {
  margin-top: 5px;
  font-weight: 400;
}
.content .dash .datos .selected {
  color: #454B54;
  background-color: #FAC942;
  padding: 0 20px;
  border-radius: 15px 15px 0 0;
  margin-right: 2rem;
}
.content .dash .datos .nonSelected {
  color: #454B54;
  margin-right: 2rem;
}
.content .dash .infoContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 2rem;
  margin-bottom: 4rem;
  border-top: 2px solid rgba(128, 128, 128, 0.341);
  background-color: #ffffff;
}
.content .dash .infoContainer h2 {
  color: #727A85;
  padding-left: 5rem;
  padding-top: 20px;
  font-weight: 200;
}
.content .dash .infoContainer .inputContainer {
  gap: 1px;
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}
.content .dash .infoContainer .inputContainer .link {
  text-decoration: none;
}
.content .dash .infoContainer .inputContainer .detailsOptions1 {
  padding-bottom: 4px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  border-bottom: 1px solid #DDDDDD;
  color: #504F6F;
}
.content .dash .infoContainer .inputContainer .detailsOptionsColors {
  margin-bottom: 1px;
  padding-left: 0.2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #66668f31;
}
.content .dash .infoContainer .inputContainer .detailsOptionsColors div {
  width: 7rem;
  text-align: center;
}
.content .dash .infoContainer .inputContainer .detailsOptionsColors .p {
  color: #504F6F;
  width: 100px;
  padding: 1rem 0;
  text-transform: capitalize;
}
.content .dash .infoContainer .inputContainer .detailsOptionsColors .detailImg {
  display: flex;
}
.content .dash .infoContainer .inputContainer .detailsOptionsColors .detailImg img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 100%;
}
.content .dash .infoContainer .inputContainer .detailsOptions {
  margin-bottom: 1px;
  padding-left: 0.2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.content .dash .infoContainer .inputContainer .detailsOptions div {
  width: 7rem;
  text-align: center;
}
.content .dash .infoContainer .inputContainer .detailsOptions .p {
  color: #504F6F;
  width: 100px;
  text-transform: capitalize;
}
.content .dash .infoContainer .inputContainer .detailsOptions .detailImg {
  display: flex;
}
.content .dash .infoContainer .inputContainer .detailsOptions .detailImg img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 100%;
}
