.container {
  border: 0.1rem solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container .notification {
  width: 50%;
  height: 75%;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  overflow: hidden;
  font-size: 1.2rem;
  background-color: #ffffff;
  box-shadow: 0 0 2rem -1rem;
}
.container .notification .logo {
  background-color: #4B4D62;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .notification .logo img {
  width: 50%;
}
.container .notification .notificationBottom {
  background-image: url('https://cdn.discordapp.com/attachments/996508232048705626/996988910641086595/Gracias-3.png?width=887&height=499');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding: 2rem 0 0 0;
}
.container .notification .notificationBottom p {
  color: #ffffff;
  padding: 0 3rem;
  margin-top: 2rem;
}
.container .notification .notificationBottom p a {
  text-decoration: none;
  color: #4992AB;
  font-weight: 600;
}
.container .notification .notificationBottom p a:hover {
  color: #8DBECE;
}
.container .notification .notificationBottom p:last-of-type {
  margin: 0;
  margin-top: 1.3rem;
}
.container .notification button {
  height: 5rem;
  border: none;
  color: #ffffff;
  background-color: #504F6F;
}
.container .notification button:hover {
  background-color: #FAC942;
  color: #727A85;
  cursor: pointer;
}
