.buttonFavorite {
  position: relative;
  font-family: 'Inter';
  font-weight: 400;
  width: 50%;
  height: 80px;
  background-color: #FAC942;
  font-size: 30px;
  cursor: pointer;
  border: none;
  border-left: 4px solid #FFFFFF;
  color: #504F6F;
  transition: all 0.3s ease;
}
.buttonFavorite:hover {
  background-color: #FAB942;
  color: #ffffff;
}
