.favsManuBox {
  position: relative;
}
.favsManuBox .linkBox {
  display: flex;
  align-items: center;
}
.favsManuBox .linkBox a {
  text-decoration: none;
  color: #ffffff;
}
.favsManuBox .linkBox a:hover {
  color: #DDDDDD;
}
.favsManuBox .linkBox .arrowIcon {
  width: 30px;
}
.favsManuBox .favsMenuList {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  width: 350px;
  max-height: 420px;
  z-index: 10;
  left: -240px;
  top: 40px;
  color: #454B54;
  transition: all 300ms ease;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.favsManuBox .favsMenuList .favsMenuListTitle {
  min-height: 45px;
  max-height: 45px;
  border-bottom: solid 1px #DDDDDD;
  display: flex;
  align-items: center;
}
.favsManuBox .favsMenuList .favsMenuListTitle p {
  margin-left: 15px;
  font-size: 16px;
  font-weight: 400;
  color: #504F6F;
}
.favsManuBox .favsMenuList .listBox {
  overflow: auto;
}
.favsManuBox .favsMenuList .favsMenuLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 45px;
  max-height: 45px;
  bottom: 0;
  border-top: solid 1px #DDDDDD;
  transition: all 300ms ease;
  background-color: #ffffff;
}
.favsManuBox .favsMenuList .favsMenuLink a {
  text-decoration: none;
  color: #504F6F;
  font-size: 15px;
  font-weight: 400;
}
.favsManuBox .favsMenuList .favsMenuLink:hover {
  background-color: #FAC942;
}
.favsManuBox .favsMenuList .favsMenuLink:hover a {
  color: #ffffff;
  font-weight: 500;
}
.favsManuBox:hover .favsMenuList {
  visibility: visible;
  opacity: 1;
}
