.filterBox {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 199px;
  height: 252px;
  background: #FAC942;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  bottom: 0;
  transition: bottom ease 0.2s;
  z-index: 2;
  font-weight: 500;
}
.filterBox .filterIcon {
  height: 140px;
  margin-top: 15px;
}
.filterBox .others {
  margin-top: 35px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
}
.filterBox .animals {
  margin-top: 35px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}
.filterBox:hover {
  bottom: 5px;
  cursor: pointer;
}
