.formBox {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 910px;
  height: 55px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  z-index: 2;
  background-color: #ffffff;
  margin-top: 64px;
  overflow: visible;
}
.formBox .searchByLocationBox {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: fit-content;
  height: fit-content;
  z-index: 20;
  bottom: -35px;
}
.formBox .searchByLocationBox p {
  color: #FAB942;
}
.formBox .searchByLocationBox p:hover {
  color: #FED872;
  cursor: pointer;
}
.formBox form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.formBox form input {
  font-size: 1.5em;
  text-indent: 22px;
}
.formBox form input:focus {
  outline: none !important;
  box-sizing: border-box;
  border: 3px solid #FAB942;
  background-color: #ffffff;
}
.formBox form input:focus::placeholder {
  text-indent: 19px;
  color: #ffffff;
}
.formBox form input::placeholder {
  color: #ABABAB;
  text-indent: 22px;
}
.formBox form input:-webkit-autofill,
.formBox form input:-webkit-autofill:hover,
.formBox form input:-webkit-autofill:focus,
.formBox form textarea:-webkit-autofill,
.formBox form textarea:-webkit-autofill:hover,
.formBox form textarea:-webkit-autofill:focus,
.formBox form select:-webkit-autofill,
.formBox form select:-webkit-autofill:hover,
.formBox form select:-webkit-autofill:focus {
  outline: none !important;
  box-sizing: border-box;
  background-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
}
.formBox .city {
  margin-left: 0;
  width: 480px;
  height: 55px;
  border: none;
  box-sizing: border-box;
  border-radius: 15px 0px 0px 15px;
}
.formBox .line {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #ABABAB;
}
.formBox .line p {
  margin-top: 5px;
  font-size: 20px;
}
.formBox select {
  appearance: none;
  width: 346px;
  height: 55px;
  margin-left: 3px;
  border: none;
  box-sizing: border-box;
  font-size: 1.5em;
  text-indent: 22px;
  color: #ABABAB;
}
.formBox select:focus {
  outline: none !important;
  box-sizing: border-box;
  border: 3px solid #FAB942;
  background-color: #ffffff;
}
.formBox select option {
  min-height: 1.2em;
  padding: 0px 2px 1px;
}
.formBox .button {
  position: absolute;
  width: 54px;
  height: 55px;
  right: 0;
  box-sizing: border-box;
  border: none;
  border-radius: 0px 15px 15px 0px;
  background-color: transparent;
  overflow: hidden;
}
.formBox .button:hover {
  background-color: #FAC942;
  cursor: pointer;
}
.formBox .icon {
  width: 30px;
}
