.content {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 40px 0;
}
.content .form {
  width: 700px;
  height: 470px;
  background-image: url('../assets/FormImage.png');
  background-size: cover;
}
.content .form .overflow {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}
.content .form .title {
  font-weight: 600;
  font-size: 35px;
  color: #ffffff;
  padding-top: 20px;
}
.content .form .inputGroup {
  height: 70px;
}
.content .form .inputGroup p {
  text-align: left;
  padding: 5px 0 0 0;
}
.content .form .inputGroup button {
  position: relative;
  height: 52px;
  border: none;
  cursor: pointer;
  background-color: #ffffff;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  color: #A1A8B1;
  font-size: 1rem;
}
.content .form .input {
  width: 400px;
  height: 50px;
  outline: none;
  border: none;
  border-radius: 5px;
  text-indent: 22px;
  color: #A1A8B1;
}
.content .form .input[name='password'] {
  max-width: 370px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  text-indent: 22px;
  color: #A1A8B1;
}
.content .form .button {
  width: 420px;
  height: 50px;
  background: #504F6F;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content .form .button:hover {
  background-color: #4992AB;
  cursor: pointer;
  color: #DDDDDD;
}
.content .form a {
  text-decoration: none;
}
.content .form .textBox {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.content .form .textBox .forget {
  color: #ffffff;
}
.content .form .textBox .forget:hover {
  color: #FAC942;
}
.content .form .textBox p {
  font-size: 15px;
  padding-top: 1rem;
}
.content .form .textBox p:last-of-type {
  font-size: 15px;
  padding-top: 1rem;
  padding-left: 1rem;
}
.content .form .textBox .registrate {
  display: flex;
  padding-left: 9rem;
  color: #FAC942;
}
.content .form .error {
  color: #FAC942;
  font-size: smaller;
}
.faGoogle {
  fill: white;
  height: 1rem;
  margin-right: 1rem;
}
