.content {
  width: 100%;
  height: 1879px;
  display: flex;
  flex-direction: column;
}
.content .section1 {
  width: 100%;
  height: 459px;
  display: flex;
  align-items: center;
  padding-top: 20px;
}
.content .section1 .pic1 {
  width: 646.11px;
  height: 426px;
  background: url(https://cdn.pixabay.com/photo/2017/09/25/13/12/cocker-spaniel-2785074__340.jpg);
  background-size: cover;
  border-width: 10px 10px 10px 0px;
  border-style: solid;
  border-color: #4992AB;
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.25);
  border-radius: 0px 200px 200px 0px;
}
.content .section1 .textBox1 {
  width: 780.64px;
  height: 459px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.content .section1 .textBox1 .title1 {
  width: 552px;
  height: 44px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #504F6F;
}
.content .section1 .textBox1 .text1 {
  width: 546px;
  height: 335px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: justify;
  color: #454B54;
}
.content .section2 {
  width: 100%;
  height: 459px;
  display: flex;
  align-items: center;
}
.content .section2 .pic2 {
  width: 646.11px;
  height: 426px;
  background: url(https://cdn.pixabay.com/photo/2014/04/13/20/49/cat-323262__340.jpg);
  background-size: cover;
  border-width: 10px 0px 10px 10px;
  border-style: solid;
  border-color: #FAC942;
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.25);
  border-radius: 200px 0px 0px 200px;
}
.content .section2 .textBox2 {
  width: 780.64px;
  height: 459px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 150px;
}
.content .section2 .textBox2 .title2 {
  width: 370px;
  height: 44px;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #504F6F;
}
.content .section2 .textBox2 .text2 {
  width: 556px;
  height: 319px;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: justify;
  color: #454B54;
}
.content .donate {
  width: 90%;
  height: 423.88px;
  margin: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content .donate .card1 {
  width: 276px;
  height: 367.18px;
  background-color: #FAC942;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
.content .donate .card1 .cardImg1 {
  left: 19.72%;
  right: 69.01%;
}
.content .donate .card1 .cardText1 {
  width: 273px;
  height: 75.29px;
  top: 50%;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  color: #ffffff;
}
.content .donate .card1 .donarButton {
  margin: 0 auto;
  width: 90%;
  height: 52.98px;
  color: #ffffff;
  background: #504F6F;
  border-radius: 5px;
  border: none;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
}
.content .donate .cards {
  width: 273px;
  height: 367.18px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  overflow: hidden;
  justify-content: center;
}
.content .donate .cards .cardsImg {
  width: 273px;
  height: 255.38px;
  background-position: center;
}
.content .donate .cards .textContainer {
  width: 227px;
  height: 96px;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content .donate .cards .textContainer p:first-child {
  margin-left: 10px;
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  line-height: 27px;
  color: #454B54;
}
.content .donate .cards .textContainer p {
  margin-left: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  font-style: italic;
  color: #727A85;
}
