.contenedorPadre {
  background: #FFFFFF;
  padding-bottom: 4rem;
}
.contenedorPadre .top {
  display: flex;
  width: 100%;
  background-color: #66668F;
}
.contenedorPadre .top .buttonLeft {
  margin-left: 2rem;
  pointer-events: all;
  background-color: #504F6F;
  border: none;
  cursor: pointer;
  outline: none;
  width: 3.125rem;
  height: 100%;
  text-align: center;
  transition: 0.1s ease all;
  align-self: center;
  padding: 10px 0 8px 0;
  border-radius: 3px;
}
.contenedorPadre .top .buttonLeft:hover {
  background: #4992AB;
  fill: #4B4D62;
  scale: 105%;
}
.contenedorPadre .top .contenedorImg {
  width: 20rem;
  height: 20rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #00000000;
  object-fit: cover;
  border-radius: 20%;
  border: 10px solid #FAC942;
  overflow: hidden;
  box-shadow: 0 0 2rem -1rem;
  margin: 2rem 2rem;
}
.contenedorPadre .top .contenedorImg .img {
  display: flex;
  width: 100%;
  height: 28rem;
  vertical-align: top;
  object-fit: cover;
}
.contenedorPadre .top .buttonRight {
  pointer-events: all;
  background-color: #504F6F;
  border: none;
  cursor: pointer;
  outline: none;
  width: 3.125rem;
  height: 100%;
  text-align: center;
  transition: 0.1s ease all;
  align-self: center;
  padding: 11px 0 7px 0;
  border-radius: 3px;
  transform: rotate(180deg);
  fill: black;
}
.contenedorPadre .top .buttonRight:hover {
  background: #4992AB;
  fill: #4B4D62;
  scale: 105%;
}
.contenedorPadre .top .topRight {
  padding-left: 2rem;
  width: 800px;
  align-self: center;
}
.contenedorPadre .top .topRight .name {
  flex-direction: column;
  width: 100%;
  padding-bottom: 1rem;
  text-transform: capitalize;
}
.contenedorPadre .top .topRight .name .h3 {
  font-size: 45px;
  color: #FAC942;
  padding-bottom: 0.5rem;
  text-transform: capitalize;
}
.contenedorPadre .top .topRight .name .p {
  margin-top: 10px;
  font-size: 30px;
  color: #F3F3F3;
  text-transform: capitalize;
}
.contenedorPadre .top .topRight .etiquetas {
  display: flex;
  gap: 10px;
  flex-direction: row;
  margin-top: 10px;
  font-size: 20px;
  color: #DDDDDD;
  padding-bottom: 2rem;
  text-transform: capitalize;
}
.contenedorPadre .top .topRight .size {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  padding-bottom: 1rem;
  flex-wrap: wrap;
}
.contenedorPadre .top .topRight .size .sizeTags {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.contenedorPadre .top .topRight .size .h4 {
  font-size: 25px;
  color: #F3F3F3;
  padding-bottom: 0.5rem;
  text-transform: capitalize;
}
.contenedorPadre .top .topRight .size .p {
  font-size: 20px;
  color: #DDDDDD;
  text-transform: capitalize;
}
.contenedorPadre .contenedorMedium {
  display: flex;
  margin-top: 50px;
  gap: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  justify-content: center;
}
.contenedorPadre .contenedorMedium .contenedorDetalles {
  background-color: #ffffff;
  width: 40rem;
  min-height: 35rem;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-bottom: 20px;
}
.contenedorPadre .contenedorMedium .contenedorDetalles .info {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  gap: 25px;
}
.contenedorPadre .contenedorMedium .contenedorDetalles .info .h3 {
  font-size: 30px;
  color: #504F6F;
}
.contenedorPadre .contenedorMedium .contenedorDetalles .info .h4 {
  color: #727A85;
  font-size: 25px;
  gap: 5px;
  padding-bottom: 0.5rem;
}
.contenedorPadre .contenedorMedium .contenedorDetalles .info .p {
  color: #A1A8B1;
  font-size: 25px;
  gap: 5px;
  text-transform: capitalize;
}
.contenedorPadre .contenedorMedium .contenedorDetalles .info .salud {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.contenedorPadre .contenedorMedium .contenedorDetalles .info .salud .h4 {
  font-size: 30px;
}
.contenedorPadre .contenedorMedium .contenedorDetalles .info .salud .p {
  font-size: 25px;
}
.contenedorPadre .contenedorMedium .contenedorAdopcion {
  height: 31.5rem;
  display: flex;
  flex-direction: column;
  border: 3px solid #FAC942;
  border-radius: 20px;
  overflow: hidden;
}
.contenedorPadre .contenedorMedium .contenedorAdopcion .contenedorPrincipalAdopcion {
  border-radius: 15px;
}
.contenedorPadre .contenedorMedium .contenedorAdopcion .contenedorPrincipalAdopcion .name {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedorPadre .contenedorMedium .contenedorAdopcion .contenedorPrincipalAdopcion .name .h3 {
  width: 400.01px;
  height: 200px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #504F6F;
}
.contenedorPadre .contenedorMedium .contenedorAdopcion .contenedorPrincipalAdopcion .name .h3 span {
  text-transform: capitalize;
}
.contenedorPadre .contenedorMedium .contenedorAdopcion .contenedorPrincipalAdopcion .contenedorButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 230px;
  gap: 10px;
}
.contenedorPadre .contenedorMedium .contenedorAdopcion .contenedorPrincipalAdopcion .contenedorButtons .buttonAdoptar {
  width: 380.44px;
  height: 80px;
  font-size: 30px;
  border-radius: 15px;
  background-color: #504F6F;
  color: #ffffff;
  cursor: pointer;
  border: none;
}
.contenedorPadre .contenedorMedium .contenedorAdopcion .contenedorPrincipalAdopcion .contenedorButtons .buttonAdoptar:hover {
  background-color: #4992AB;
  color: #DDDDDD;
}
.contenedorPadre .contenedorMedium .contenedorAdopcion .contenedorPrincipalAdopcion .buttonSponsor {
  width: 50%;
  height: 80px;
  background-color: #FAC942;
  font-size: 30px;
  font-family: 'Inter';
  font-weight: 400;
  cursor: pointer;
  border: none;
  color: #504F6F;
  transition: all 0.3s ease;
}
.contenedorPadre .contenedorMedium .contenedorAdopcion .contenedorPrincipalAdopcion .buttonSponsor:hover {
  background-color: #FAB942;
  color: #ffffff;
}
.contenedorPadre .contenedorMedium .contenedorAdopcion .contenedorPrincipalAdopcion .buttonFavorite {
  font-family: 'Inter';
  font-weight: 400;
  width: 50%;
  height: 80px;
  background-color: #FAC942;
  font-size: 30px;
  cursor: pointer;
  border: none;
  border-left: 4px solid #FFFFFF;
  color: #504F6F;
  transition: all 0.3s ease;
}
.contenedorPadre .contenedorMedium .contenedorAdopcion .contenedorPrincipalAdopcion .buttonFavorite:hover {
  background-color: #FAB942;
  color: #ffffff;
}
.contenedorPadre .contenedorMedium .contenedorAdopcion .contenedorPrincipalAdopcion .buttonFavorite2 {
  font-family: 'Inter';
  font-weight: 400;
  width: 100%;
  height: 80px;
  background-color: #FAC942;
  font-size: 30px;
  cursor: pointer;
  border: none;
  color: #504F6F;
  transition: all 0.3s ease;
}
.contenedorPadre .contenedorMedium .contenedorAdopcion .contenedorPrincipalAdopcion .buttonFavorite2:hover {
  background-color: #FAB942;
  color: #ffffff;
}
.contenedorPadre .contenedorMascota {
  margin-left: 10rem;
  max-width: 77%;
  text-align: justify;
}
.contenedorPadre .contenedorMascota .title {
  display: flex;
}
.contenedorPadre .contenedorMascota .title .h3 {
  font-size: 30px;
  color: #504F6F;
  display: flex;
}
.contenedorPadre .contenedorMascota .title .petName {
  font-size: 30px;
  color: #504F6F;
  text-transform: capitalize;
  margin-left: 0.8rem;
}
.contenedorPadre .contenedorMascota .p {
  margin-top: 20px;
  font-size: 20px;
  color: #A1A8B1;
  padding-bottom: 2rem;
}
.contenedorPadre .contenedorFundacion {
  display: flex;
  box-shadow: 0 0 2rem -1rem;
  width: 100%;
  align-items: center;
}
.contenedorPadre .contenedorFundacion .name {
  width: 80rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  color: #727A85;
}
.contenedorPadre .contenedorFundacion .name .h3 {
  font-family: 'Inter';
  font-style: bold;
  font-weight: 600;
  font-size: 35px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #504F6F;
}
.contenedorPadre .contenedorFundacion .name .h4 {
  margin-top: 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #A1A8B1;
}
.contenedorPadre .contenedorFundacion .nameImg {
  width: 100%;
}
.contenedorPadre .contenedorFundacion .nameImg .img {
  width: 100%;
  object-fit: cover;
}
.contenedorPadre .contenedorFundacion .contenedorDirection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
.contenedorPadre .contenedorFundacion .contenedorDirection .direction {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.contenedorPadre .contenedorFundacion .contenedorDirection .direction .addressIcon {
  margin-right: 0.5rem;
  font-size: 2rem;
  color: #A1A8B1;
}
.contenedorPadre .contenedorFundacion .contenedorDirection .direction .directionInterior {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}
.contenedorPadre .contenedorFundacion .contenedorDirection .direction .directionInterior .h3 {
  font-size: 30px;
  color: #727A85;
}
.contenedorPadre .contenedorFundacion .contenedorDirection .direction .directionInterior .p {
  font-weight: 400;
  font-size: 20px;
  color: #A1A8B1;
}
.contenedorPadre .mascotasCerca {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.contenedorPadre .mascotasCerca .proximityTitle {
  margin-top: 45px;
  margin-bottom: 35px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  color: #504F6F;
}
.contenedorPadre .mascotasCerca .relatedBox {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 35px;
}
.contenedorPadre .mascotasCerca .relatedBox .card {
  text-decoration: none;
}
.contenedorPadre .mascotasFoundation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.contenedorPadre .mascotasFoundation .proximityTitle {
  margin-top: 45px;
  margin-bottom: 35px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  color: #504F6F;
}
.contenedorPadre .mascotasFoundation .relatedBox {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 35px;
}
.contenedorPadre .mascotasFoundation .relatedBox .card {
  text-decoration: none;
}
