section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 1024px;
}
section .relatedBox {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}
section .proximityTitle {
  margin-top: 20px;
  margin-bottom: 35px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  color: #504F6F;
}
section .viewedTitle {
  margin-top: 40px;
  margin-bottom: 35px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  color: #504F6F;
}
