.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content .component {
  margin-top: 3rem;
  padding-bottom: 4rem;
  width: 40%;
  border-radius: 0.5rem;
  box-shadow: 0 0 2rem -1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content .component .imgContainer {
  width: 50%;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}
.content .component .imgContainer img {
  object-fit: contain;
  border: 5px solid #504F6F;
  border-radius: 100%;
}
.content .component .componentGlobal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content .component .componentGlobal .error {
  margin-top: 10px;
  color: red;
  font-family: 'Inter';
}
.content .component h1 {
  color: #504F6F;
  font-size: 1.5rem;
  margin-bottom: 30px;
}
.content .component h2 {
  color: #727A85;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.content .component .contentStars {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 335px;
  height: 100px;
}
.content .component .contentStars .stars {
  width: 60px;
  font-size: 30px;
}
.content .component .contentInput {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content .component .contentInput h3 {
  color: #504F6F;
  font-size: 1.7rem;
  margin-bottom: 1rem;
}
.content .component .contentInput textarea {
  max-height: 80px;
  min-height: 40px;
  min-width: 335px;
  max-width: 350px;
  text-indent: 1rem;
  border: none;
  border-radius: 0.5rem;
  outline: none;
  font-family: 'Inter';
  color: #A1A8B1;
  padding-top: 1rem;
  margin-bottom: 1rem;
}
.content .component button {
  margin-top: 10px;
  width: 8rem;
  height: 2rem;
  background-color: #504F6F;
  border: none;
  border-radius: 0.5rem;
  color: #ffffff;
  cursor: pointer;
}
.content .component button:hover {
  background-color: #FAC942;
  color: #504F6F;
}
.content .back {
  margin-top: 2rem;
  margin-bottom: 3rem;
  height: 2rem;
  border: none;
  color: #504F6F;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}
.content .back:hover {
  border-bottom: 3px solid #FAC942;
  color: #504F6F;
}
.imagenFundacion {
  max-width: 400px;
  max-height: 300px;
}
