.swiperBox {
  width: 85%;
  overflow: visible;
}
.swiperBox .swiper {
  width: 100%;
  padding: 30px;
  overflow: hidden;
}
.swiperBox .swiperNavPrev,
.swiperBox .swiperNavNext {
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  z-index: 10;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.swiperBox .swiperNavPrev {
  left: -10px;
  z-index: 20;
  background-image: url('../assets/icons/back-swiper.svg');
}
.swiperBox .swiperNavNext {
  right: 10px;
  background-image: url('../assets/icons/foward-swiper.svg');
}
